.innerbox.innerbox_list
  %h2
    - name = press.paper_name || press.head
    = link_to name, press
  .content
    = press.head if press.paper_name
    %br
    = simple_format "#{strip_tags(press.content).sub(/\A(.{200}.*?)\s.*\z/m,"\\1[..]")}"
  .small_date
    = l press.created_at