.innerbox.innerbox_list
  %h2
    - name = press.paper_name || press.head
    = link_to name, press
  .content
    = press.head if press.paper_name
    %br
    = simple_format "#{press.content.slice(/\A(.{200}.*?)\s/)}[...]"
  .small_date
    = l press.created_at