- content_for :pagetitle do
  Восстановление пароля

.inner-container-content
  = form_for @user, reset_password_users_path, method: :post do |f|
    .form_line
      = f.label :password
      = ": "
      = f.text_field :password
    .form_line
      = f.label :password_confirmation
      = ": "
      = f.text_field :password_confirmation
    .form_line
      = f.submit "Отправить"
      = hidden_field_tag :token, @token