= form_for(@news) do |f|
  - if @news.errors.any?
    #error_explanation
      %h2
        = pluralize(@news.errors.count, "error")
        prohibited this news from being saved:
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg
  .form_line
    = f.label :head
    %br/
    = f.text_field :head
  .form_line
    = f.label :text
    %br/
    = f.text_field :text
  .form_line
    = f.label :image
    %br/
    = f.text_field :image
  .form_line
    = f.submit