- content_for :pagetitle do
  = @news.head || "Новость"

.news_content.inner-container-content
  //= image_tag(@news.image_url) if @news.image?
  = simple_format(@news.text, :sanitize => false).html_safe
- if @news.comments.any?
  .news_comments#news_comments
    - @news.comments.each do |comment|
      .one_comment{:id => "comment_#{comment.id}"}
        .comment_user.comment_part
          .user_avatar
            = comment.user.avatar_url(:thumb_mini) if comment.user.avatar?
          .user_name
            = link_to comment.user.username, comment.user
        .comment_text.comment_part
          = comment.text
          = comment_links

- if current_user
  = form_for Comment.new do |f|
    = render :partial => "comments/form", :locals => {f: f}

