!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  = render :partial => 'head'
  %body
    .wrapper
      = render :partial => 'top'
      .main.clearfix
        .in.main-in
          .separated.clearfix
            .separated-big
              .inner-container.cyan
                %h1= content_for?(:pagetitle) ? yield(:pagetitle) : t("pagetitles.#{params[:controller]}.#{params[:action]}")
                = yield
            = render :partial => "right_panel" if show_panel
      = render :partial => 'footer'